@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@font-face {
	font-family: mediumF;
	src: url(fonts/AzeretMono-Medium-1.woff2);
}

@font-face {
	font-family: editF;
	src: url(fonts/PPEditorialNew-Ultralight.woff2);
}

@font-face {
	font-family: darkF;
	src: url(fonts/PPRightGrotesk-CompactDark.woff2);
}

@font-face {
	font-family: nuckle;
	src: url(fonts/Nuckle/Nuckle-Bold.woff2);
}

@font-face {
	font-family: nb;
	src: url(fonts/NBInternationalProBook.woff2);
}

@font-face {
	font-family: darkF;
	src: url(fonts/PPRightGrotesk-CompactDark.woff2);
}

@font-face {
	font-family: newF;
	src: url(fonts/new.woff2);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	width: 100%;
	background-color: #e5e4e3;
}

body {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
}

a {
	cursor: none;
}

main {
	background-color: #e4e1d9;
}

.loader {
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: #17191b;
	z-index: 999;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: all ease 0.8s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader h1 {
	color: #e5e4e3;
	font-size: 2.1vw;
	color: transparent;
	background: linear-gradient(to right, #e5e4e3, rgb(98, 96, 96));
	-webkit-background-clip: text;
	position: absolute;
	opacity: 0;
	animation-name: load;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-timing-function: linear;
	font-family: nuckle;
}

.loader h1:nth-child(2) {
	animation-delay: 2s;
	font-family: nuckle;
	font-size: 1.9vw;
}

@keyframes load {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
/* loader ends */

/* menu */

.menu {
	position: fixed;
	right: -100%;
	height: 100vh;
	width: 37%;
	background-color: #17191b;
	z-index: 13;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	transition: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
	transform: translate(0, 0) rotate(0.001deg);
	transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
	will-change: transform;
	font-family: nb;
	padding: 1.9vw 7.7vw;
	/* border-top-left-radius: 1vw;
	border-bottom-left-radius: 1vw; */
}

.cross {
	transition: all 0.9s ease-in-out;
}

.menu span {
	/* background-color: red; */
	display: flex;
	justify-content: flex-end;
	padding-bottom: 3vw;
	margin-left: 11vw;
	width: 70%;
}

.line2 {
	height: 0.1vw;
	width: 127%;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff5c;
	margin-top: 0.3vw;
}

.first-text h1 {
	font-size: 0.7vw;
	padding-bottom: 2vw;
	color: #ffffff7a;
}

.first-text h2 {
	margin-top: 2vw;
	font-size: 2.9vw;
}

.first-text h2 a {
	text-decoration: none;
	color: #e5e4e3;
}

.second-text {
	margin-top: 5vw;
}

.second-text h1 {
	font-size: 0.7vw;
	padding-bottom: 1vw;
	color: #ffffff7a;
}

.inner-links {
	display: flex;
	gap: 3vw;
	/* justify-content: space-between; */
}

.second-text h2 {
	margin-top: 0vw;
	font-size: 0.9vw;
}

.second-text h2 a {
	text-decoration: none;
	color: #e5e4e3;
}

.inner-links h2::after {
	content: "";
	background: #e5e4e3;
	height: 0.1vw;
	width: 0%;
	display: block;
	margin: auto;
	transition: all 0.4s ease;
}

.inner-links h2:hover::after {
	width: 97%;
}

/* nav */

.box {
	height: 2.7vw;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	background-color: #17191b;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 5;
	/* align-items: center; */
}

.box .left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 11vw;
	margin-left: 1vw;
	font-family: "Helvetica", sans-serif;
	color: #e5e4e3;
	font-size: 0.9vw;
}

.left h4 a {
	text-decoration: none;
	color: #e5e4e3;
}

.left h4:nth-child(1) {
	font-family: nuckle;
}

.left h4:nth-child(3) {
	font-family: nuckle;
}

.left h4:nth-child(3) span {
	font-family: "Helvetica", sans-serif;
}

.left h4:nth-child(2)::after {
	content: "";
	background: #e5e4e3;
	height: 0.1vw;
	width: 0%;
	display: block;
	margin: auto;
	transition: all 0.4s ease;
}

.left h4:nth-child(2):hover::after {
	width: 97%;
}

.left h4:nth-child(3)::after {
	content: "";
	background: #e5e4e3;
	height: 0.1vw;
	width: 0%;
	display: block;
	margin: auto;
	transition: all 0.4s ease;
}

.left h4:nth-child(3):hover::after {
	width: 97%;
}

.right {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: red; */
	height: 2.3vw;
	width: 4.3vw;
	margin-right: 3vw;
	right: 0%;
	top: 0;
	transition: all 0.9s ease-in-out;
}

.right .line1 {
	height: 0.1vw;
	width: 3.7vw;
	position: fixed;
	margin-right: 3vw;
	background-color: #e5e4e3;
	border-radius: 2px;
	right: 0%;
	z-index: 1;
}

.right .line2 {
	height: 0.1vw;
	width: 3.7vw;
	/* background-color: #e5e4e3; */
	position: fixed;
	margin-right: 3vw;
	z-index: 3;
	margin-top: 1vw;
	background-color: #e5e4e3;
	border-radius: 2px;
	right: 0%;
}

/* nav icon 2  */

/* .right2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.3vw;
	width: 4.3vw;
	margin-right: 3vw;
	position: fixed;
	z-index: 999;
	right: 0%;
	top: 0;
	transition: all 0.9s ease-in-out;
} */

/* .right2 .lines1 {
	height: 0.1vw;
	width: 3.7vw;
	position: fixed;
	margin-right: 3vw;
	background-color: #e5e4e3;
	border-radius: 2px;
	right: 0%;
	z-index: 999;
	position: fixed;
} */

/* .right2 .lines2 {
	height: 0.1vw;
	width: 3.7vw;
	z-index: 999;
	position: fixed;
	margin-right: 3vw;
	margin-top: 1vw;
	background-color: #e5e4e3;
	border-radius: 2px;
	right: 0%;
} */

/* Page 1  */

.page1 {
	height: 60vw;
	width: 100%;
	/* background-color: red; */
	line-height: 8.5vw;
}

.page1 h1 {
	font-size: 8.9vw;
	padding: 0 1vw;
	font-family: "Righteous", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #222222;
	position: relative;
	z-index: 3;
}

.page1 h1 span img {
	height: 1.4vw;
	width: 1.4vw;
	animation: moving-icon 3s linear infinite;
}

.page1 h1 img:nth-child(2) {
	display: none;
}

@keyframes moving-icon {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* scroller */

.scroller {
	line-height: 1.2vw;
}

.moving-text {
	white-space: nowrap;
	overflow-x: auto;
	/* background-color: red; */
	gap: -3vw;
}

.moving-text::-webkit-scrollbar {
	display: none;
}

.con {
	white-space: nowrap;
	display: inline-block;
	animation-name: move;
	animation-duration: 31s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.con h1 {
	font-size: 1.7vw;
	display: inline-block;
	font-family: nuckle;
	font-weight: bold;
	color: #17191b;
	letter-spacing: -1px;
}

@keyframes move {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

/* art img */

.art {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5vw;
	filter: contrast(33px);
}

.art img {
	height: 100%;
	width: 99%;
	object-fit: cover;
}

.right-text {
	display: flex;
	margin-left: 89%;
	/* background-color: red; */
}

.right-text h5 {
	font-family: nuckle;
	font-size: 1vw;
	line-height: 3vw;
	text-transform: uppercase;
}

.right-text span {
	font-family: nuckle;
	font-size: 0.9vw;
	line-height: 3vw;
	background-color: #181818;
	height: 1.7vw;
	width: 2.7vw;
	border-radius: 0.4vw;
	color: #e5e4e3;
	margin-left: 0.3vw;
	margin-top: 0.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

/* scroller2 */

.scroller2 {
	line-height: 1.2vw;
}

.moving-text2 {
	white-space: nowrap;
	overflow-x: auto;
	/* background-color: red; */
}

.moving-text2::-webkit-scrollbar {
	display: none;
}

.con2 {
	white-space: nowrap;
	display: inline-block;
	animation-name: move;
	animation-duration: 31s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.con2 h1 {
	font-size: 7vw;
	display: inline-block;
	font-family: nuckle;
	font-weight: bold;
	color: #17191b;
	/* letter-spacing: -1px; */
	padding-top: 5vw;
}

.con2 span img {
	height: 1.5vw;
	width: 1.5vw;
	animation: moving-icon 7s linear infinite;
}

@keyframes move {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

/* Page 2 */

.page2 {
	height: 83vw;
	width: 99%;
	background-color: #17191b;
	margin-left: auto;
	margin-right: auto;
}

#about {
	cursor: none;
}

/* text1 */

.text1 {
	display: flex;
	justify-content: space-between;
	font-family: nb;
	color: #e5e4e3;
	padding: 0vw 2vw;
	padding-top: 5vw;
}

.text1 h4 {
	font-size: 2.3vw;
	color: #b6b6b6;
}

.text1 h3 {
	margin-top: 1.3vw;
	color: #adaba8;
}

.main-text {
	font-family: nb;
	color: #a29e9a;
	margin: 2vw 2vw;
}

.main-text h1:nth-child(1) {
	margin-left: 15vw;
}

.main-text h1 {
	font-size: 3.7vw;
}

/* text2 */

.text2 {
	display: flex;
	justify-content: space-between;
	font-family: nb;
	color: #e4e1d9;
	padding: 0vw 2vw;
	margin-top: 9vw;
}

.text2 h4 {
	font-size: 2.3vw;
	color: #b6b6b6;
}

.text2 h3 {
	margin-top: 1.3vw;
	color: #adaba8;
}

.main-text2 {
	font-family: nb;
	color: #a29e9a;
	margin: 2vw 2vw;
}

.main-text2 h1:nth-child(1) {
	margin-left: 15vw;
}

.main-text2 h1 {
	font-size: 3.7vw;
}

/* tech icons */

.tech-icons {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-right: 5.3vw;
	gap: 2.3vw;
}

.tech-icons img {
	height: 8vw;
	width: 8vw;
}

.tech-icons img:nth-child(1) {
	height: 8.1vw;
	width: 8.1vw;
}

.circle-icon {
	height: 8.1%;
	width: 100%;
	display: flex;
	padding-left: 0.3vw;
	/* background-color: red; */
	align-items: flex-end;
}

.circle-icon img {
	height: 2vw;
	width: 2vw;
}

/* page 3 */

.page3 {
	height: 111vw;
	width: 100%;
	/* background-color: red; */
	padding: 0vw 1vw;
	padding-top: 9vw;
}

.headline {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-right: 2vw;
	flex-direction: column;
}

.headline h1 {
	font-family: nb;
	font-size: 11vw;
	line-height: 9.1vw;
	color: #222222;
}

.headline h1:nth-child(2) {
	margin-right: 3vw;
}

.seperation {
	margin-top: 3vw;
	height: 0.2vw;
	width: 99%;
	background-color: #222222;
	border-radius: 11px;
}

.wrapper {
	height: 73%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 2vw;
	/* background-color: red; */
}

.left-side {
	height: 68%;
	width: 47%;
	/* background-color: red; */
}

.right-side {
	height: 83.5%;
	width: 53%;
	background-color: #222222;
	margin-left: 1vw;
	margin-top: 1vw;
}

.right-side img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* left side starts */

/* First Text */

.first-phase {
	display: flex;
	justify-content: space-between;
	font-family: nb;
}

.first-phase h3 {
	font-size: 4vw;
}

.first-phase h5 {
	font-size: 1.7vw;
	padding-top: 1vw;
}

/* Second Text */

.second-phase {
	display: flex;
	flex-direction: column;
	font-family: nb;
	/* justify-content: flex-end; */
	align-items: flex-end;
	margin-top: 1vw;
}

.second-phase h5 {
	font-size: 1.1vw;
}

/* Third Text */

.third-phase {
	font-family: nb;
	width: 87%;
	margin-top: 15vw;
	font-size: 1.5vw;
	padding-left: 1.3vw;
}

/* ends */

.forth-phase {
	margin-top: 7.1vw;
	display: flex;
	justify-content: flex-end;
	font-family: nb;
}

.forth-phase p {
	font-size: 1.1vw;
}

.forth-phase p a {
	text-decoration: none;
	color: #222222;
}

.forth-phase p::after {
	content: "";
	background: #222222;
	height: 0.1vw;
	width: 0%;
	display: block;
	margin: auto;
	transition: all 0.4s ease;
}

.forth-phase p:hover::after {
	width: 95%;
}

/* fifth phase */

.fifth-phase-mobile {
	display: none;
}

.fifth-phase {
	display: flex;
	flex-direction: column;
	margin-top: 3vw;
	padding-left: 1vw;
	font-family: nb;
}

.inner-phase1 {
	padding-left: 0.4vw;
}

.inner-phase2 {
	display: flex;
	flex-direction: column;
	margin-top: 1.3vw;
}

.a,
.b {
	display: flex;
	gap: 1vw;
}

.b {
	margin-top: 1vw;
}

.a .sector1 {
	background-color: #222222;
	height: 2.5vw;
	width: 4.5vw;
	border-radius: 1vw;
	color: #e5e4e3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.a .sector2 {
	background-color: #222222;
	height: 2.5vw;
	width: 4.3vw;
	border-radius: 1vw;
	color: #e5e4e3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.a .sector3 {
	background-color: #222222;
	height: 2.5vw;
	width: 6.5vw;
	border-radius: 1vw;
	color: #e5e4e3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hideThis {
	display: none;
}

/* b */

.b .sector4 {
	background-color: #222222;
	height: 2.5vw;
	width: 5vw;
	border-radius: 1vw;
	color: #e5e4e3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.b .sector5 {
	background-color: #222222;
	height: 2.5vw;
	width: 6.3vw;
	border-radius: 1vw;
	color: #e5e4e3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.b .sector6 {
	background-color: #222222;
	height: 2.5vw;
	width: 8.3vw;
	border-radius: 1vw;
	color: #e5e4e3;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Sixth Phase */

.sixth-phase {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 6.7vw;
}

.sixth-phase-mobile {
	display: none;
}

.sub {
	display: flex;
	justify-content: flex-end;
	padding-right: 2vw;
	font-family: darkF;
}

.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: editF;
}

.main-content h1 {
	font-size: 5.3vw;
}

.flower {
	display: flex;
	justify-content: flex-end;
	padding-right: 1vw;
}

.flower img {
	height: 4vw;
	width: 4vw;
	animation: moving-icon 2s linear infinite;
}

/* Scroller 3  */

/* scroller2 */

.scroller3 {
	line-height: 1.2vw;
	margin-top: 2vw;
}

.moving-text3 {
	white-space: nowrap;
	overflow-x: auto;
	/* background-color: red; */
}

.moving-text3::-webkit-scrollbar {
	display: none;
}

.con3 {
	white-space: nowrap;
	display: inline-block;
	animation-name: move;
	animation-duration: 21s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.con3 h1 {
	font-size: 7vw;
	display: inline-block;
	font-family: "Righteous", sans-serif;
	font-weight: bold;
	color: #17191b;
	/* letter-spacing: -1px; */
	padding-top: 5vw;
}

.con3 span img {
	height: 1.1;
	width: 1.1vw;
	gap: 31vw;
	animation: moving-icon 2s infinite linear;
}

@keyframes move {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

/* ends */
.seperation2 {
	margin-top: 1vw;
	height: 0.2vw;
	width: 99%;
	background-color: #222222;
	border-radius: 11px;
}

.seperation3 {
	margin-top: 1vw;
	height: 0.2vw;
	width: 99%;
	background-color: #222222;
	border-radius: 11px;
}

/* Page 4 (Footer) */

.footer {
	height: 51vw;
	width: 99%;
	background-color: #17191b;
	margin-left: 0.5vw;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	color: #e5e4e3;
	margin-top: 21vw;
}

.text-content4 {
	padding: 1vw 2vw;
	display: flex;
	justify-content: center;
}

.text-content4 h1 {
	color: #e5e4e3;
	font-family: darkF;
	font-size: 22vw;
}

.text-content4 h1::after {
	content: "";
	background: #e5e4e3;
	height: 0.1vw;
	width: 0%;
	display: block;
	margin: auto;
	transition: all 0.4s ease;
}

.text-content4 h1:hover::after {
	width: 100%;
}

.text-content4 h1 span {
	display: inline-block;
}

.text-content4 .second4 {
	font-family: editF;
	font-weight: 100;
	font-size: 19vw;
	margin-left: 1.5vw;
}

.footer .footer-end {
	height: 5vw;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	/* background-color: red; */
	display: flex;
	justify-content: space-between;
	padding: 1vw 2vw;
	margin-top: 2.1vw;
	margin-bottom: 0.5vw;
}

.left-side-part {
	height: 100%;
	width: 40%;
	/* background-color: blue; */
	display: flex;
	gap: 3vw;
	line-height: 1.5vw;
}

.left-side-part .sub-head {
	font-family: newF;
}

.center {
	font-family: newF;
	color: #e5e4e3;
	margin-top: 1.5vw;
	opacity: 0.4;
	transition: all ease 0.4s;
}

.center:hover {
	opacity: 1;
}

.right-side-part {
	height: 100%;
	width: 40%;
	/* background-color: blue; */
	display: flex;
	justify-content: flex-end;
	gap: 3vw;
	line-height: 1.5vw;
}

.right-side-part a {
	text-decoration: none;
	color: #e5e4e3;
}

.footer-end .head {
	font-size: 0.9vw;
	font-family: darkF;
}

.github,
.insta {
	padding-top: 1.5vw;
}

/* Linkedin */

.linkedin h5 a::after {
	content: "";
	background: #e5e4e3;
	height: 0.1vw;
	width: 0%;
	display: block;
	margin: auto;
	transition: all 0.4s ease;
}

.linkedin h5 a:hover::after {
	width: 95%;
}

/* Github */

.github h5 a::after {
	content: "";
	background: #e5e4e3;
	height: 0.1vw;
	width: 0%;
	display: block;
	margin: auto;
	transition: all 0.4s ease;
}

.github h5 a:hover::after {
	width: 95%;
}

/* Instagram */

.insta h5 a::after {
	content: "";
	background: #e5e4e3;
	height: 0.1vw;
	width: 0%;
	display: block;
	margin: auto;
	transition: all 0.4s ease;
}

.insta h5 a:hover::after {
	width: 95%;
}

.right-side-part .sub-head {
	font-size: 1vw;
	font-family: newF;
	font-weight: 400;
	opacity: 0.4;
	transition: all ease 0.4s;
}

.right-side-part .sub-head:hover {
	font-size: 1vw;
	font-family: newF;
	font-weight: 400;
	opacity: 1;
}

.contacts {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.contact {
	display: flex;
	flex-direction: column;
	padding: 5vw 2.3vw;
}

.mail-input {
	padding: 6vw 2.3vw;
	position: relative;
}

.mail-input label {
	color: #e5e4e3;
	position: absolute;
	right: 3vw;
}

.mail-input input {
	color: #e5e4e3;
}

.mail-input input::placeholder {
	font-size: 0.9vw;
}

.mail-input .submit {
	width: 2vw;
	margin-left: 2.5vw;
	background-color: #17191b;
	outline: none;
	border: none;
	font-size: 1vw;
}

.line-footer {
	height: 1px;
	width: 18vw;
	color: #e5e4e3;
	margin-left: 5vw;
	background-color: #e5e4e3;
}

.mail-input .first-input {
	height: 2vw;
	width: 14vw;
	background-color: #17191b;
	border: #17191b;
	outline: none;
	margin-left: 5vw;
	font-size: 1vw;
	/* background-color: red; */
	/* border-bottom: 1px solid #e5e4e3cf; */
}

.contact p {
	font-family: darkF;
	font-size: 0.9vw;
}

.contact a {
	line-height: 1.5;
}

.contact .call,
.email {
	font-size: 1vw;
	font-family: newF;
	font-weight: 400;
}

.contact p,
a {
	color: #e5e4e3;
	text-decoration: none;
}

.footer-mobile {
	display: none;
}

/* end - Miscellaneous*/

.seperate {
	background: #222222c0;
	height: 0.1vw;
	width: 98%;
	margin: auto;
}

.line {
	height: 0.1vw;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	background-color: #e4e1d9a1;
	margin-top: 0.3vw;
}

.cursor {
	height: 7px;
	width: 7px;
	background-color: #e5e4e3;
	border-radius: 50%;
	position: fixed;
	z-index: 99;
	mix-blend-mode: difference;
}

*::selection {
	background-color: #17191b;
	color: #e5e4e3;
}

html::-webkit-scrollbar {
	display: block;
	width: 3px;
	background-color: #17191b79;
}

html::-webkit-scrollbar-thumb {
	background-color: #17191b;
	border-radius: 1vw;
}

/* Responsive - For Mobile*/

@media (max-width: 700px) {
	.loader {
		height: 100%;
		width: 100%;
		position: fixed;
		background-color: #17191b;
		z-index: 999;
		top: 0;
		left: 0;
		overflow: hidden;
		transition: all ease 0.8s;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.loader h1 {
		color: #e5e4e3;
		font-size: 5.1vw;
		color: transparent;
		background: linear-gradient(to right, #e5e4e3, rgb(98, 96, 96));
		-webkit-background-clip: text;
		position: absolute;
		opacity: 0;
		animation-name: load;
		animation-duration: 1s;
		animation-delay: 1s;
		animation-timing-function: linear;
		font-family: nuckle;
	}

	.loader h1:nth-child(2) {
		animation-delay: 2s;
		font-family: nuckle;
		font-size: 5vw;
	}

	.cursor {
		display: none;
	}
	/* loader ends */

	/* menu */

	.menu {
		position: fixed;
		right: -100%;
		height: 100vh;
		width: 100%;
		background-color: #17191b;
		z-index: 13;
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		/* align-items: center; */
		transition: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
		transform: translate(0, 0) rotate(0.001deg);
		transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
		will-change: transform;
		font-family: nb;
		padding: 1.9vw 7.7vw;
		/* border-top-left-radius: 1vw;
		border-bottom-left-radius: 1vw; */
	}

	.cross {
		transition: all 0.9s ease-in-out;
	}

	.menu span {
		/* background-color: red; */
		display: flex;
		justify-content: flex-end;
		padding-top: 3vh;
		margin-left: 29vw;
		width: 70%;
	}

	.line2 {
		height: 0.1vw;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: #ffffff5c;
		margin-top: 0.3vw;
	}

	.first-text {
		margin-top: 7vh;
	}

	.first-text h1 {
		font-size: 2.7vw;
		padding-bottom: 2vw;
		color: #ffffff7a;
	}

	.first-text h2 {
		margin-top: 5vw;
		font-size: 9.9vw;
	}

	.first-text h2 a {
		text-decoration: none;
		color: #e5e4e3;
	}

	.second-text {
		margin-top: 30vh;
	}

	.second-text h1 {
		font-size: 2.7vw;
		padding-top: 3vw;
		color: #ffffff7a;
	}

	.inner-links {
		display: flex;
		gap: 3vw;
		/* justify-content: space-between; */
	}

	.second-text h2 {
		margin-top: 0.9vw;
		font-size: 2.9vw;
	}

	.second-text h2 a {
		text-decoration: none;
		color: #e5e4e3;
	}

	/* nav */

	.box {
		height: 3vh;
		width: 99%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1px;
		background-color: #17191b;
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 5;
		/* align-items: center; */
	}

	.box .left {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 11vw;
		margin-left: 1vw;
		font-family: "Helvetica", sans-serif;
		color: #e5e4e3;
		font-size: 1.9vw;
	}

	.left h4 a {
		text-decoration: none;
		color: #e5e4e3;
	}

	.left h4:nth-child(1) {
		font-family: nuckle;
		padding-bottom: 0.4vw;
	}

	.left h4:nth-child(3) {
		font-family: nuckle;
		padding-bottom: 0.4vw;
	}

	.left h4:nth-child(3) span {
		font-family: "Helvetica", sans-serif;
	}

	.right {
		display: flex;
		justify-content: center;
		align-items: center;
		/* background-color: red; */
		height: 2.3vw;
		width: 4.3vw;
		margin-right: 3vw;
		right: 0%;
		top: 0;
		transition: all 0.9s ease-in-out;
		margin-top: 0.5vh;
	}

	.right .line1 {
		height: 0.1vw;
		width: 8.7vw;
		position: absolute;
		margin-right: 3vw;
		background-color: #e5e4e3;
		border-radius: 2px;
		right: 0%;
		z-index: 1;
	}

	.right .line2 {
		height: 0.1vw;
		width: 8.7vw;
		/* background-color: #e5e4e3; */
		position: absolute;
		margin-right: 3vw;
		z-index: 3;
		margin-top: 2vw;
		background-color: #e5e4e3;
		border-radius: 2px;
		right: 0%;
	}
	/* nav ends */

	/* Page 1  */

	.page1 {
		height: 88vh;
		width: 100%;
		/* background-color: red; */
		line-height: 12.5vw;
		padding-top: 0.7vh;
	}

	.page1 h1 {
		font-size: 13.9vw;
		padding: 0 1vw;
		font-family: "Righteous", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: #222222;
		position: relative;
		z-index: 3;
	}

	.page1 h1 span:nth-child(2) {
		font-size: 15.9vw;
	}

	.page1 span img:nth-child(2) {
		display: inline;
		height: 4.5vh;
		width: 7.5vh;
		border-radius: 50%;
		animation: none;
		padding-bottom: 0.5vh;
	}

	.page1 span #remove {
		display: none;
	}

	/* scroller */

	.scroller {
		line-height: 1.2vw;
	}

	.moving-text {
		white-space: nowrap;
		overflow-x: auto;
		/* background-color: red; */
		gap: -3vw;
		height: 4vh;
	}

	.moving-text::-webkit-scrollbar {
		display: none;
	}

	.con {
		white-space: nowrap;
		display: inline-block;
		animation-name: move;
		animation-duration: 31s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}

	.con h1 {
		font-size: 3.7vw;
		display: inline-block;
		font-family: nuckle;
		font-weight: bold;
		color: #17191b;
		letter-spacing: -1px;
		height: 7vh;
		margin-top: 2vh;
	}

	.right-text {
		display: flex;
		margin-left: 69%;
		justify-content: center;
		align-items: center;
		padding-top: 1vw;
		/* background-color: red; */
	}

	.right-text h5 {
		font-family: nuckle;
		font-size: 3vw;
		line-height: 3vw;
		text-transform: uppercase;
		margin-top: 0.4vh;
	}

	.right-text span {
		font-family: nuckle;
		font-size: 2.5vw;
		line-height: 3vw;
		background-color: #181818;
		height: 3.9vw;
		width: 7vw;
		border-radius: 0.9vw;
		color: #e5e4e3;
		margin-left: 0.9vw;
		margin-top: 0.5vw;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}

	.scroller2 {
		line-height: 8.2vw;
	}

	.moving-text2 {
		white-space: nowrap;
		overflow-x: auto;
		/* background-color: red; */
	}

	.moving-text2::-webkit-scrollbar {
		display: none;
	}

	.con2 {
		white-space: nowrap;
		display: inline-block;
		animation-name: move;
		animation-duration: 31s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}

	.con2 h1 {
		font-size: 12vw;
		display: inline-block;
		font-family: nuckle;
		font-weight: bold;
		color: #17191b;
		/* letter-spacing: -1px; */
		padding-top: 5vw;
		height: 6vw;
	}

	.con2 span img {
		height: 6.5vw;
		width: 6.5vw;
	}

	.con2 span {
		padding-right: 1vw;
	}

	@keyframes move {
		from {
			transform: translateX(0);
		}

		to {
			transform: translateX(-100%);
		}
	}

	.art {
		height: 65%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1.5vw;
		filter: contrast(33px);
	}

	.art img {
		height: 100%;
		width: 99%;
		object-fit: cover;
	}

	/* Page 2 */

	.page2 {
		height: 116vw;
		width: 99%;
		background-color: #17191b;
		margin-left: auto;
		margin-right: auto;
		margin-top: 11vw;
	}

	#about {
		cursor: none;
	}

	/* text1 */

	.text1 {
		display: flex;
		justify-content: space-between;
		font-family: nb;
		color: #e5e4e3;
		padding: 0vw 2vw;
		padding-top: 6vw;
	}

	.text1 h4 {
		font-size: 4.3vw;
		margin-top: 0.5vh;
		color: #b6b6b6;
	}

	.text1 h3 {
		margin-top: 2.3vw;
		color: #adaba8;
		font-size: 2.9vw;
	}

	.main-text {
		font-family: nb;
		color: #a29e9a;
		margin: 4vw 2vw;
	}

	.main-text h1:nth-child(1) {
		margin-left: 15vw;
	}

	.main-text h1:nth-child(2) {
		font-size: 4.7vw;
	}

	/* text2 */

	.text2 {
		display: flex;
		justify-content: space-between;
		font-family: nb;
		color: #e4e1d9;
		padding: 0vw 2vw;
		margin-top: 9vw;
	}

	.text2 h4 {
		font-size: 4.3vw;
		margin-top: 0.5vh;
		color: #b6b6b6;
	}

	.text2 h3 {
		margin-top: 2.3vw;
		color: #adaba8;
		font-size: 2.9vw;
	}

	.main-text2 h1:nth-child(2) {
		font-size: 4.7vw;
	}

	.main-text2 {
		font-family: nb;
		color: #a29e9a;
		margin: 4vw 2vw;
	}

	/* tech icons */

	.tech-icons {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		margin-right: 5.3vw;
		gap: 2.3vw;
		margin-top: 3vh;
	}

	.tech-icons img {
		height: 4.7vh;
		width: 4.7vh;
	}

	.tech-icons img:nth-child(1) {
		height: 4.8vh;
		width: 4.8vh;
	}

	.circle-icon {
		height: 3.3vw;
		width: 100%;
		display: flex;
		padding-left: 0.3vw;
		/* background-color: red; */
		align-items: flex-end;
		margin-top: 3vw;
	}

	.circle-icon img {
		height: 2vw;
		width: 1.7vw;
	}

	/* page 3 */

	.page3 {
		height: 131vh;
		width: 100%;
		/* background-color: red; */
		padding: 0vw 1vw;
		padding-top: 22vw;
	}

	.headline {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin-right: 2vw;
		flex-direction: column;
	}

	.headline h1 {
		font-family: nb;
		font-size: 11vw;
		line-height: 9.1vw;
		color: #222222;
	}

	.headline h1:nth-child(2) {
		margin-right: 3vw;
	}

	.seperation {
		margin-top: 3vw;
		height: 0.2vw;
		width: 99%;
		background-color: #222222;
		border-radius: 11px;
	}

	.wrapper {
		height: 73%;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 2vw;
		/* background-color: red; */
	}

	.left-side {
		height: 20%;
		width: 100%;
		padding-right: 1vw;
		/* background-color: red; */
	}

	.right-side {
		height: 110.5%;
		width: 100%;
		background-color: #222222;
		margin-left: 1vw;
		margin-top: 2vw;
	}

	.right-side img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	/* left side starts */

	/* First Text */

	.first-phase {
		display: flex;
		justify-content: space-between;
		font-family: nb;
	}

	.first-phase h3 {
		font-size: 10vw;
	}

	.first-phase h5 {
		padding-top: 7vw;
		font-size: 3vw;
	}

	/* Second Text */

	.second-phase {
		display: flex;
		flex-direction: column;
		font-family: nb;
		/* justify-content: flex-end; */
		align-items: flex-end;
	}

	.second-phase h5 {
		font-size: 3.1vw;
	}

	/* Third Text */

	.third-phase {
		display: none;
	}

	/* ends */

	.forth-phase {
		margin-top: -1vw;
		display: flex;
		font-family: nb;
		margin-right: 77%;
	}

	.forth-phase p {
		font-size: 3.7vw;
		font-weight: bold;
	}

	.forth-phase p a {
		text-decoration: none;
		color: #222222;
	}

	.forth-phase p::after {
		content: "";
		background: #222222;
		height: 0.1vw;
		width: 0%;
		display: block;
		margin: auto;
		transition: all 0.4s ease;
	}

	.forth-phase p:hover::after {
		width: 95%;
	}

	/* fifth phase */

	.fifth-phase {
		display: none;
	}

	.fifth-phase-mobile {
		display: flex;
		flex-direction: column;
		margin-top: 3vw;
		padding-left: 1vw;
		font-family: nb;
	}

	.inner-phase1-mobile {
		padding-left: 0.4vw;
	}

	.inner-phase1-mobile p {
		font-size: 3.7vw;
	}

	.inner-phase2-mobile {
		display: flex;
		margin-top: 1.3vw;
	}

	.a-mobile,
	.b-mobile {
		display: flex;
		gap: 2vw;
	}

	.b-mobile {
		margin-top: 1vw;
	}

	.a-mobile .sector1-mobile {
		background-color: #222222;
		height: 6.5vw;
		width: 10.5vw;
		border-radius: 1vw;
		color: #e5e4e3;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 69%;
	}

	.a-mobile .sector2-mobile {
		background-color: #222222;
		height: 6.5vw;
		width: 9.5vw;
		border-radius: 1vw;
		color: #e5e4e3;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 69%;
	}

	.a-mobile .sector3-mobile {
		background-color: #222222;
		height: 6.5vw;
		width: 17.5vw;
		border-radius: 1vw;
		color: #e5e4e3;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 69%;
	}

	.a-mobile .sector4-mobile {
		background-color: #222222;
		height: 6.5vw;
		width: 10.5vw;
		border-radius: 1vw;
		color: #e5e4e3;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 69%;
	}

	.a-mobile .sector5-mobile {
		background-color: #222222;
		height: 6.5vw;
		width: 16.5vw;
		border-radius: 1vw;
		color: #e5e4e3;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 69%;
	}

	.a-mobile .sector6-mobile {
		background-color: #222222;
		height: 6.5vw;
		width: 21.5vw;
		border-radius: 1vw;
		color: #e5e4e3;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 69%;
	}

	.b-mobile {
		display: none;
	}

	/* Sixth Phase */

	.sixth-phase {
		display: none;
	}

	.sixth-phase-mobile {
		display: block;
		margin-top: 5vw;
	}

	.sub-mobile {
		display: flex;
		justify-content: flex-end;
		padding-right: 2vw;
		font-family: darkF;
	}

	.main-content-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: editF;
	}

	.main-content-mobile h1 {
		font-size: 11.3vw;
	}

	.flower-mobile {
		display: flex;
		justify-content: flex-end;
		padding-right: 1vw;
		margin-top: 5vw;
	}

	.flower {
		margin-top: 9vw;
	}

	.flower img {
		height: 5vw;
		width: 5vw;
	}

	/* Scroller 3  */

	/* scroller2 */

	.scroller3 {
		line-height: 1.2vw;
		margin-top: 2vw;
	}

	.moving-text3 {
		white-space: nowrap;
		overflow-x: auto;
		/* background-color: red; */
	}

	.moving-text3::-webkit-scrollbar {
		display: none;
	}

	.con3 {
		white-space: nowrap;
		display: inline-block;
		animation-name: move;
		animation-duration: 11s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}

	.con3 h1 {
		font-size: 14vw;
		display: inline-block;
		font-family: "Righteous", sans-serif;
		font-weight: bold;
		color: #17191b;
		/* letter-spacing: -1px; */
		padding-top: 10vw;
	}

	.con3 span img {
		height: 2.3vw;
		width: 2.3vw;
		gap: 31vw;
	}

	@keyframes move {
		from {
			transform: translateX(0);
		}

		to {
			transform: translateX(-100%);
		}
	}

	/* ends */
	.seperation2 {
		margin-top: 1vw;
		height: 0.2vw;
		width: 99%;
		background-color: #222222;
		border-radius: 11px;
	}

	.seperation3 {
		margin-top: 1vw;
		height: 0.2vw;
		width: 99%;
		background-color: #222222;
		border-radius: 11px;
	}

	/* Page 4 (Footer) */

	.footer {
		height: 51vw;
		width: 99%;
		background-color: #17191b;
		margin-left: 0.5vw;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		color: #e5e4e3;
		margin-top: 21vw;
	}

	.text-content4 {
		padding: 1vw 2vw;
		display: flex;
		justify-content: center;
	}

	.text-content4 h1 {
		color: #e5e4e3;
		font-family: darkF;
		font-size: 22vw;
	}

	.text-content4 h1::after {
		content: "";
		background: #e5e4e3;
		height: 0.1vw;
		width: 0%;
		display: block;
		margin: auto;
		transition: all 0.4s ease;
	}

	.text-content4 h1:hover::after {
		width: 100%;
	}

	.text-content4 h1 span {
		display: inline-block;
	}

	.text-content4 .second4 {
		font-family: editF;
		font-weight: 100;
		font-size: 19vw;
		margin-left: 1.5vw;
	}

	.footer .footer-end {
		height: 5vw;
		width: 99%;
		margin-left: auto;
		margin-right: auto;
		/* background-color: red; */
		display: flex;
		justify-content: space-between;
		padding: 1vw 2vw;
		margin-top: 2.1vw;
		margin-bottom: 0.5vw;
	}

	.left-side-part {
		height: 100%;
		width: 40%;
		/* background-color: blue; */
		display: flex;
		gap: 3vw;
		line-height: 1.5vw;
	}

	.left-side-part .sub-head {
		font-family: newF;
	}

	.center {
		font-family: newF;
		color: #e5e4e3;
		margin-top: 1.5vw;
		opacity: 0.4;
		transition: all ease 0.4s;
	}

	.center:hover {
		opacity: 1;
	}

	.right-side-part {
		height: 100%;
		width: 40%;
		/* background-color: blue; */
		display: flex;
		justify-content: flex-end;
		gap: 3vw;
		line-height: 1.5vw;
	}

	.right-side-part a {
		text-decoration: none;
		color: #e5e4e3;
	}

	.footer-end .head {
		font-size: 0.9vw;
		font-family: darkF;
	}

	.github,
	.insta {
		padding-top: 1.5vw;
	}

	/* Linkedin */

	.linkedin h5 a::after {
		content: "";
		background: #e5e4e3;
		height: 0.1vw;
		width: 0%;
		display: block;
		margin: auto;
		transition: all 0.4s ease;
	}

	.linkedin h5 a:hover::after {
		width: 95%;
	}

	/* Github */

	.github h5 a::after {
		content: "";
		background: #e5e4e3;
		height: 0.1vw;
		width: 0%;
		display: block;
		margin: auto;
		transition: all 0.4s ease;
	}

	.github h5 a:hover::after {
		width: 95%;
	}

	/* Instagram */

	.insta h5 a::after {
		content: "";
		background: #e5e4e3;
		height: 0.1vw;
		width: 0%;
		display: block;
		margin: auto;
		transition: all 0.4s ease;
	}

	.insta h5 a:hover::after {
		width: 95%;
	}

	.right-side-part .sub-head {
		font-size: 1vw;
		font-family: newF;
		font-weight: 400;
		opacity: 0.4;
		transition: all ease 0.4s;
	}

	.right-side-part .sub-head:hover {
		font-size: 1vw;
		font-family: newF;
		font-weight: 400;
		opacity: 1;
	}

	.contacts {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.contact {
		display: flex;
		flex-direction: column;
		padding: 5vw 2.3vw;
	}

	.mail-input {
		padding: 6vw 2.3vw;
		position: relative;
	}

	.mail-input label {
		color: #e5e4e3;
		position: absolute;
		right: 3vw;
	}

	.mail-input input {
		color: #e5e4e3;
	}

	.mail-input input::placeholder {
		font-size: 0.9vw;
	}

	.mail-input .submit {
		width: 2vw;
		margin-left: 2.5vw;
		background-color: #17191b;
		outline: none;
		border: none;
		font-size: 1vw;
	}

	.line-footer {
		height: 1px;
		width: 18vw;
		color: #e5e4e3;
		margin-left: 5vw;
		background-color: #e5e4e3;
	}

	.mail-input .first-input {
		height: 2vw;
		width: 14vw;
		background-color: #17191b;
		border: #17191b;
		outline: none;
		margin-left: 5vw;
		font-size: 1vw;
		/* background-color: red; */
		/* border-bottom: 1px solid #e5e4e3cf; */
	}

	.contact p {
		font-family: darkF;
		font-size: 0.9vw;
	}

	.contact a {
		line-height: 1.5;
	}

	.contact .call,
	.email {
		font-size: 1vw;
		font-family: newF;
		font-weight: 400;
	}

	.contact p,
	a {
		color: #e5e4e3;
		text-decoration: none;
	}
	/* Page 4 (Footer) */

	.footer {
		display: none;
	}

	/* footer real */

	.footer-mobile {
		height: 47vh;
		width: 99%;
		background-color: #17191b;
		margin-left: 0.5vw;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		color: #e5e4e3;
		margin-top: 11vw;
	}

	.mail-input-mobile {
		padding: 6vw 0.3vw;
		position: relative;
	}

	.mail-input-mobile label {
		color: #e5e4e3;
		position: absolute;
		right: 3vw;
	}

	.mail-input-mobile input {
		color: #e5e4e3;
	}

	.mail-input-mobile input::placeholder {
		font-size: 3vw;
	}

	.mail-input-mobile .submit-mobile {
		width: 7vw;
		margin-left: 15.5vw;
		background-color: #17191b;
		outline: none;
		border: none;
		font-size: 2.7vw;
	}

	.line-footer-mobile {
		height: 0.1vw;
		width: 91.5vw;
		color: #e5e4e3;
		margin-left: 3vw;
		background-color: #e5e4e3;
	}

	.mail-input-mobile .first-input-mobile {
		height: 7vw;
		width: 70vw;
		background-color: #17191b;
		border: #17191b;
		outline: none;
		margin-left: 3vw;
		font-size: 3vw;
		/* background-color: red; */
		/* border-bottom: 1px solid #e5e4e3cf; */
	}

	.text-content4-mobile {
		padding: 1vw 2vw;
		display: flex;
		justify-content: center;
	}

	.text-content4-mobile h1 {
		color: #e5e4e3;
		font-family: darkF;
		font-size: 22vw;
	}

	.text-content4-mobile h1::after {
		content: "";
		background: #e5e4e3;
		height: 0.1vw;
		width: 0%;
		display: block;
		margin: auto;
		transition: all 0.4s ease;
	}

	.text-content4-mobile h1:hover::after {
		width: 100%;
	}

	.text-content4-mobile h1 span {
		display: inline-block;
	}

	.text-content4-mobile .second4-mobile {
		font-family: editF;
		font-weight: 100;
		font-size: 19vw;
		margin-left: 1.5vw;
	}

	.end-content-mobile1 {
		display: flex;
		justify-content: space-between;
		padding: 5vw 2vw;
	}

	.head-mobile {
		font-size: 3vw;
		font-family: darkF;
		color: #999999;
	}

	.sub-head-mobile {
		font-family: newF;
		font-size: 3.6vw;
	}

	.version-mobile {
		padding-left: 2vw;
	}

	.end-content-mobile2 {
		display: flex;
		gap: 18.3vw;
		padding: 5vw 4vw;
	}

	.socials-end-mobile {
		display: flex;
		flex-direction: column;
	}

	.head-mobile-social {
		display: flex;
		gap: 4vw;
	}

	.line-mobile {
		height: 0.1vw;
		width: 93%;
		background-color: #e4e1d9;
		margin-left: auto;
		margin-right: auto;
	}

	.bottom-end-mobile {
		font-family: nb;
		font-size: 2.7vw;
		padding-left: 3.7vw;
		padding-top: 1vw;
		display: flex;
		justify-content: space-between;
		padding-right: 3vw;
	}

	.bottom-end-mobile p {
		padding-top: 1vw;
	}
}
